.tabs-container {
  background: white;
  padding: 50px 0;
}

.btn-info {
  padding: 15px 50px;
  background: #4abdac;
  border: #4abdac;
}

.btn-info:hover {
  background: #fc4a1a;
  border: #fc4a1a;
}

.btn-info:focus {
  background: #fc4a1a;
  border: #4abdac;
}

.page-title {
  font-family: "Poppins";
  font-size: 800;
  margin-top: 100px;
  margin-bottom: 30px;
}

.page-separator {
  width: 10%;
  height: 10px;
  border-radius: 15px;
  background: #fc4a1a;
}
